<%- include('../layouts/head') %>
<body>
    <div >
        <br><br>
<h1>Forget Password</h1>


<form action=""  method="post">
<input type="password" name="password" placeholder="Enter new password">
<input type="hidden" name="user_id" value="<%=user_id%>" >
<br> <br>
<input type="submit"  value="Reset Password">
<br><br>

</form>
</div>


<%- include('../layouts/footer') %>